{% extends "blog/base.html" %} 
{% block title %}Home{% endblock title %}
{% block content %} 
{% if postagens %}
<section class="row row-cols-1 row-cols-md-2 g-4">
  {% for postagem in postagens %}
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ postagem.titulo }}</h5>
        <p class="text-body-secondary">{{ postagem.data_publicacao|date:"d/m/Y" }}</p>
      </div>
      <div class="card-footer font-weight-bold"><a href="{% url 'post' postagem.id %}">Continuar lendo</a></div>
    </div>
  </div>
  {% endfor %}
</section>
{% else %}
<p class="text-danger p-0">Não há postagens cadastradas.</p>
{% endif %} 
{% endblock content %}
