html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

h5,
h1,
.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 700;
}

.navbar-brand {
  font-style: italic;
  font-size: 35px;
}

a {
  text-decoration: none !important;
}
